body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.pixels {
  display: grid;
  background-color: #0773f7;
  width: 320px;
  height: 320px;
  border: 5px solid black;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.carre1 {
  grid-area: 1 / 2 / 2 / 3;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre2 {
  grid-area: 1 / 3 / 2 / 4;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre3 {
  grid-area: 1 / 6 / 2 / 7;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre4 {
  grid-area: 1 / 7 / 2 / 8;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre5 {
  grid-area: 2 / 3 / 3 / 4;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre6 {
  grid-area: 2 / 6 / 3 / 7;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre7 {
  grid-area: 3 / 3 / 4 / 4;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre8 {
  grid-area: 3 / 4 / 4 / 5;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre9 {
  grid-area: 3 / 5 / 4 / 6;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre10 {
  grid-area: 3 / 6 / 4 / 7;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre11 {
  grid-area: 4 / 2 / 5 / 3;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre12 {
  grid-area: 5 / 2 / 6 / 3;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre13 {
  grid-area: 5 / 3 / 6 / 4;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre14 {
  grid-area: 5 / 4 / 6 / 5;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre15 {
  grid-area: 4 / 4 / 5 / 5;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre16 {
  grid-area: 4 / 5 / 5 / 6;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre17 {
  grid-area: 5 / 5 / 6 / 6;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre18 {
  grid-area: 5 / 6 / 6 / 7;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre19 {
  grid-area: 5 / 7 / 6 / 8;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre20 {
  grid-area: 4 / 7 / 5 / 8;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre21 {
  grid-area: 6 / 3 / 7 / 4;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre22 {
  grid-area: 7 / 4 / 8 / 5;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre23 {
  grid-area: 6 / 4 / 7 / 5;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre24 {
  grid-area: 7 / 5 / 8 / 6;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre25 {
  grid-area: 6 / 5 / 7 / 6;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
.carre27 {
  grid-area: 6 / 6 / 7 / 7;
  width: 40px;
  height: 40px;
  background: #eaf707;
}
